.form-container {
    display: block;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    gap: 16px;
}

.form-container {
    width: 100%;
    min-width: 640px;
}